/* -- Reset CSS -- */
html, body{margin:0;padding:0;
    
}
body{
    min-height: 100%;
    background-image:url("../img/html.jpg");
}

body li{
    list-style:none;
}

pre{
    font-size: 16px;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */
}
/* -- Header CSS -- */
.header{
    
    width:100%;
    background-image:url("../img/header.jpg");
    padding-top:1px;
    height:250px;
    border-bottom:solid 1px white;
}

.header-logo{
    text-align:center;
    margin-top: 25px;
}
.header-logo h1{
    box-sizing:border-box;
    padding-bottom:20px;
}

/* -- Contents CSS -- */
.contents{
    padding-bottom: 30px;
    width:700px;
    min-height: 400px;
    background-image:url("../img/body.jpg");
    background-size: auto;
    margin:0 auto;
    border:solid 1px white;
}
.contribute{
    margin:30px 0px 0px 30px;
}
.contribute-title h1{
    text-align:center;
}
.contributer{
    width:100%;
    max-width:500px;
    margin:0 auto;
    border-bottom:solid 1px black;
    
}
.contribute-date{
    float:right;
    color: #6a6a6a;
}
.contributer-name{
    font-weight: bold;
}
.contributer-message{
    margin: 5px 15px;
}
.delete{
    text-align:right;
    padding-bottom:10px;
}
.menu-list a{
    margin :0 auto;
}

.main-contents{
    width:60%;
    height:300px;
}

.space {
    width:700px;
    height:30px;
    margin:auto;
}

/* -- PostArea CSS -- */

.post-area{
    background-image:url("../img/bg.jpg");
    width:100%;
    height:256px;
    margin: 0 auto;
    /*    box-sizing:border-bo*/
    border-top:solid 1px white;
    
}
.post-box{
    width:400px;
    margin:0 auto;
}
.post-form {
    position:relative;
    width: 512px;
    margin:50px 0;
    
}

.post-form textarea {
    display:;
    width: 400px;
    margin: auto;
}
